* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  max-width: 1080px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

i {
  cursor: pointer;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

.grid {
  display: grid;
}

.no--display {
  display: none;
}

.card--one,
.card--two,
.card--three {
  display: none;
}
